{
  "printWidth": 180,
  "tabWidth": 2,
  "semi": true,
  "singleQuote": true,
  "trailingComma": "all",
  "bracketSpacing": true,
  "arrowParens": "always",
  "quoteProps": "as-needed",
  "endOfLine": "auto",
  "jsxSingleQuote": false,
  "jsxBracketSameLine": true
}
